body {
  min-width: 200px;
  max-width: 1500px;
  margin: 0 auto;
  padding: 3rem 1em 1em;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;


  background-color: #251f19; 
}

body {
  word-break: break-word;
  line-height: 1.75;
  font-weight: 400;
  font-size: 17px;
  overflow-x: hidden;
  /* color: #333; */

  color: #ffe0c0;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
  margin-top: 35px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  color: #F8BB39;
}
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: -1.5rem;
  margin-bottom: 1rem;
}
h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
  content: "#";
  display: inline-block;
  color: #83641f;
  padding-right: 0.23em;
}
h1 {
  position: relative;
  font-size: 2.5rem;
  margin-bottom: 5px;
}
h1::before {
  font-size: 2.5rem;
}
h2 {
  padding-bottom: 0.5rem;
  font-size: 2.2rem;
  border-bottom: 1px solid #F8BB39;
}
h3 {
  font-size: 1.5rem;
  padding-bottom: 0;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  margin-top: 5px;
}
p {
  line-height: inherit;
  margin-top: 22px;
  margin-bottom: 22px;
}
strong {
  color: #DB784D;
}
img {
  max-width: 100%;
  border-radius: 2px;
  display: block;
  margin: auto;
  border: 3px solid rgba(220, 144, 62, 0.2);
}
hr {
  border-top: 1px solid #e87240;
  border-bottom: none;
  border-left: none;
  border-right: none;
  margin-top: 32px;
  margin-bottom: 32px;
}
code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  word-break: break-word;
  overflow-x: auto;
  padding: 0.1rem 0.3rem;
  margin: 0;
  color: #fe966a;
  font-size: 0.85em;
  background-color: rgba(222, 192, 91, 0.173);
  border-radius: 3px;
}
/* pre {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  overflow: auto;
  position: relative;
  line-height: 1.75;
  border-radius: 6px;
  border: 2px solid #a24f2b8a;
}
pre > code {
  font-size: 12px;
  padding: 15px 12px;
  margin: 0;
  word-break: normal;
  display: block;
  overflow-x: auto;
  color: #95CC5E;
  background: #251f19;
} */
a {
  font-weight: 500;
  text-decoration: none;
  color: #95CC5E;
}
a:hover, a:active {
  border-bottom: 1.5px solid #95CC5E;
}
a:before {
  content: "⇲";
}
table {
  display: inline-block !important;
  font-size: 12px;
  width: auto;
  max-width: 100%;
  overflow: auto;
  border: solid 1px #a24f2b;
}
thead {
  background: #a24f2b;
  color: #fff;
  text-align: left;
}
tr:nth-child(2n) {
  background-color: rgba(211, 91, 47, 0.2);
}
th, td {
  padding: 12px 7px;
  line-height: 24px;
}
td {
  min-width: 120px;
}
blockquote {
  color: #ffe0c0;
  padding: 3px 5px;
  margin: 2px 0;
  border-left: 0.5rem solid rgba(175, 101, 62, 0.6);
  border-color: #a24f2b;
  background-color: #3f1f11ac;
}
blockquote::after {
  display: block;
  content: "";
}
blockquote > p {
  margin: 2px 0;
}
details {
  border: none;
  outline: none;
  border-left: 4px solid #e87240;
  padding-left: 10px;
  margin-left: 4px;
}
details summary {
  cursor: pointer;
  border: none;
  outline: none;
  background: white;
  margin: 0px -17px;
}
details summary::-webkit-details-marker {
  color: #e87240;
}
ol, ul {
  padding-left: 28px;
}
ol li, ul li {
  margin-bottom: 0;
  list-style: inherit;
}
ol li .task-list-item, ul li .task-list-item {
  list-style: none;
}
ol li .task-list-item ul, ul li .task-list-item ul, ol li .task-list-item ol, ul li .task-list-item ol {
  margin-top: 0;
}
ol ul, ul ul, ol ol, ul ol {
  margin-top: 3px;
}
ol li {
  padding-left: 6px;
}
ol li::marker {
  color: #F8BB39;
}
ul li {
  list-style: none;
}
ul li:before {
  content: "•";
  margin-right: 4px;
  color: #F8BB39;
}
@media (max-width: 720px) {
  h1 {
    font-size: 24px;
 }
  h2 {
    font-size: 20px;
 }
  h3 {
    font-size: 18px;
 }
}

svg {
  /* background-color: #432c22; */
}


/* PrismJS 1.14.0
https://prismjs.com/download.html#themes=prism-okaidia&languages=markup+css+clike+javascript */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

 code[class*="language-"],
 pre[class*="language-"] {
   color: #f8f8f2;
   background: none;
   text-shadow: 0 1px rgba(0, 0, 0, 0.3);
   font-family: "Source Code Pro",Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
   text-align: left;
   white-space: pre;
   word-spacing: normal;
   word-break: normal;
   word-wrap: normal;
   line-height: 1.5;
 
   -moz-tab-size: 4;
   -o-tab-size: 4;
   tab-size: 4;
 
   -webkit-hyphens: none;
   -moz-hyphens: none;
   -ms-hyphens: none;
   hyphens: none;
   font-size: 16px;
 }
 
 /* Code blocks */
 pre[class*="language-"] {
   padding: 1em;
   margin: .5em 0;
   overflow: auto;
 }
 
 :not(pre) > code[class*="language-"],
 pre[class*="language-"] {
   background: #272822;
 }
 
 /* Inline code */
 :not(pre) > code[class*="language-"] {
   padding: .1em;
   white-space: normal;
 }
 
 .token.comment,
 .token.prolog,
 .token.doctype,
 .token.cdata {
   color: slategray;
   line-height: 0.5;
 }
 
 .token.punctuation {
   color: #f8f8f2;
   /* color:rgb(117, 113, 94); */

 }
 
 .namespace {
   opacity: .7;
 }
 .token.meta{
   color:rgb(117, 113, 94);
 }

 .token.property,
 .token.tag,
 .token.constant,
 .token.symbol,
 .token.deleted {
   color: #f92672;
 }
 
 .token.boolean,
 .token.number {
   color: #ae81ff;
 }
 
 .token.selector,
 .token.attr-name,
 .token.string,
 .token.char,
 .token.builtin,
 .token.inserted {
   color: #a6e22e;
 }
 
 .token.operator,
 .token.entity,
 .token.url,
 .language-css .token.string,
 .style .token.string,
 .token.variable {
   color: #f8f8f2;
 }
 
 .token.atrule,
 .token.attr-value,
 .token.function,
 .token.class-name {
   color: #e6db74;
 }
 
 .token.keyword {
   color: #66d9ef;
 }
 
 .token.regex,
 .token.important {
   color: #fd971f;
 }
 
 .token.important,
 .token.bold {
   font-weight: bold;
 }
 .token.italic {
   font-style: italic;
 }
 
 .token.entity {
   cursor: help;
 }
 
 pre[class*="language-"].line-numbers {
     position: relative;
     padding-left: 3.8em;
     counter-reset: linenumber;
 }
 
 pre[class*="language-"].line-numbers > code {
     position: relative;
     white-space: inherit;
 }
 
 .line-numbers .line-numbers-rows {
     position: absolute;
     pointer-events: none;
     top: 0;
     font-size: 100%;
     left: -3.8em;
     width: 3em; /* works for line-numbers below 1000 lines */
     letter-spacing: -1px;
     border-right: 1px solid #999;
 
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
 
 }
 
     .line-numbers-rows > span {
         pointer-events: none;
         display: block;
         counter-increment: linenumber;
     }
 
         .line-numbers-rows > span:before {
             content: counter(linenumber);
             color: #999;
             display: block;
             padding-right: 0.8em;
             text-align: right;
         }
 
 